[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
ipykernel = "*"
pandas = "*"
numpy = "*"
pyxl = "*"
matplotlib = "*"
math = "*"
jinja2 = "*"
requests = "*"
bokeh = "*"
citipy = "*"
seaborn = "*"
geopandas = "*"
descartes = "*"
shapefile = "*"
plotly = "*"
black = "*"
sqlalchemy = "*"
nb-black = "*"
nbformat = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
